---
import Creadores from "../components/creadores.astro"
---
<div class="center">
    <h1>HOLAISITO</h1>
</div>
<Creadores/>

<style>
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
</style>