---
interface Props {
    title?: string,
    presentation?: string
}
const {title="Default title", presentation="Default content"} = Astro.props;
---
<div class="cuadrado">
    <img src="fondo1.jpg" alt="Descripción de la imagen">
    <h3>Title</h3>
    <div class="texto">Hola a todos como estan espero que esten muyb ien e dia de hoy ehm no se que otra cosa escerbvir a 
        respecto soo es toy cualquie cosa que se me vaya ocurriendo aa no se poquerque esto yahciendo esto pero sdeberia ser
        much omas faicl asi de esta forma eatafacp orque pense ne esos de la anda eh m yan oimpoor ta solo oimporta las cosas en realisda porque lasp ersdonsas no
        watafac proque salia eso de ka nada
    </div>
</div>
<style>
.cuadrado {
 background: linear-gradient(135deg, #676768 0%, #1b1b1f 100%);
 border-radius: 50px;
 width: 650px;
 overflow: hidden;
 height: auto;
 transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 position: relative;
 z-index: 2;
}

.cuadrado img {
 width: 100%;
 height: 50%;
 object-fit: cover;
}

.cuadrado .texto {
 font-size: 35px;
 padding: 1em;
 padding-top: 0;
 height: 50%;
 display: flex;
 justify-content: center;
 text-align: center;
 color: white;
}

.cuadrado:hover {
 transform: scale(0.95);
 cursor: pointer;
 box-shadow: 0 0 50px rgb(255, 247, 232);
}

h3 {
 font-size: 3em;
 color: white;
 margin: 0;
}
 </style>
